{% extends 'AppBundle::base.html.twig' %}

{% set page_title = "Contact Requests" %}

{% block javascripts %}
    <script src="/assets/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script>
        $(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}

{% block body -%}

    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Received</th>
            <th>Name(s)</th>
            <th>Wedding date</th>
            <th>Location</th>
            <th>Message</th>
            {#<th></th>#}
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.created|date('d/m/Y H:i') }}</td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.weddingDate %}{{ entity.weddingDate|date('D d/M/Y') }}{% endif %}</td>
                <td>{{ entity.location }}</td>
                <td>
                    <a href="#" data-toggle="popover" data-trigger="focus" data-placement="left" title="{{ entity.name }} | {{ entity.created|date('d/m/Y') }}" data-content="{{ entity.message }}">{{ entity.message|truncate(20) }}</a>
                </td>
                {#<td>#}
                    {#<ul class="list-inline text-center">#}
                        {#<li>#}
                            {#<a href="{{ path('backend_contact_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-eye-open"></i></a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
