<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Mayela Miridis{% if page_title is defined %} - {{ page_title }}{% endif %}{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    {% include "AppBundle::stylesheets.html.twig" %}
    {% block stylesheets %}{% endblock %}



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/vendor/html5shiv/dist/html5shiv.min.js"></script>
    <script src="assets/vendor/Respond/dest/respond.min.js"></script>
    <![endif]-->


    {% javascripts 'assets/vendor/jquery/dist/jquery.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}
</head>

<body>

<div class="wrap">

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12"><img src="{{ asset('images/header-mayela-miridis.png') }}" style="margin: 0 auto; max-width: 100%;"></div>
            </div>
        </div>

        <div class="motto-bar">
            <div>
                <div class="container motto">And the two became one</div>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="container">

            {# include the menu and the page title on all pages but the home page #}
            {% if app.request.requestUri|trim('/') != path('home')|trim('/') %}
                {{ include('AppBundle::_menu.html.twig') }}
                <h1>{{ page_title }}</h1>
            {% endif %}

            <div class="body">
            {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="footer container">
        <div class="row">
            <div class="col-xs-8 copyright">
                &copy; COPYRIGHT 2013, e-Solutions S.C.
            </div>
            <div class="col-xs-4 text-right">
                <div class="row">
                    <div class="col-xs-10">&nbsp;</div>
                    <div class="col-xs-1 button text-right">
                        <a title="Skype" href="" class="social-button skype">&nbsp;</a>
                    </div>
                    <div class="col-xs-1 button text-right">
                        <a title="Email" href="mailto:mayela@miridis.com" class="social-button email">&nbsp;</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
