<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Mayela Miridis{% if page_title is defined %} - {{ page_title }}{% endif %}{% endblock %}</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
    {% include "AppBundle::stylesheets.html.twig" %}
    {% block stylesheets %}{% endblock %}



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/vendor/html5shiv/dist/html5shiv.min.js"></script>
    <script src="assets/vendor/Respond/dest/respond.min.js"></script>
    <![endif]-->


    {% javascripts 'assets/vendor/jquery/dist/jquery.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}
</head>

<body>

<div class="wrap">

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12"><img src="{{ asset('images/header-mayela-miridis.png') }}" style="margin: 0 auto; max-width: 100%;"></div>
            </div>
        </div>

        <div class="motto-bar">
            <div>
                <div class="container motto">And the two became one</div>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="container">

            {# include the menu and the page title on all pages but the home page #}
            {% if app.request.requestUri|trim('/') != path('home')|trim('/') %}
                {{ include('AppBundle::_menu.html.twig') }}
                <h1>{{ page_title }}</h1>
            {% endif %}

            <div class="body">
            {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="footer container">
        <div class="row">
            <div class="col-xs-8 copyright">
                &copy; COPYRIGHT 2013, e-Solutions S.C.
            </div>
            <div class="col-xs-4 text-right">
                <div class="row">
                    <div class="col-xs-10">&nbsp;</div>
                    <div class="col-xs-1 button text-right">
                        <a title="Skype" href="" class="social-button skype">&nbsp;</a>
                    </div>
                    <div class="col-xs-1 button text-right">
                        <a title="Email" href="mailto:mayela@miridis.com" class="social-button email">&nbsp;</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
