{% extends 'AppBundle::base.html.twig' %}

{% set page_title = 'Contact Me' %}

{% block body %}

    <div class="row">

        <div class="col-xs-10">
            <div>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </div>
            <br/>
        </div>


        <div class="col-xs-10">
            <div>
                {{ form_start(form, {attr:{novalidate:"novalidate"}}) }}
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.weddingDate) }}
                {{ form_row(form.location, {label:"Location", attr:{placeholder:"Where did you marry or will you get married"}}) }}
                {{ form_row(form.message) }}
                {{ form_row(form.submit, {label: "send", attr: {class:"btn btn-primary"}}) }}
                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}
