{% extends 'AppBundle::backend.html.twig' %}

{% set page_title = "Add Provider" %}

{% block javascripts %}
    <script src="{{ asset('bundles/a2lixtranslationform/js/a2lix_translation_bootstrap.js') }}"></script>
{% endblock %}

{% block body %}

    {{ 'jorgo@miridis.com'|obfuscateEmailAddress }}

    <div style="float: right; padding-top: 10px;">
        <a title="Provider List" href="{{ path('backend_provider') }}" class="btn btn-default"><i class="glyphicon glyphicon-list"></i></a>
    </div>

    <h1>{{ page_title }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.category) }}
    {{ form_row(form.translations) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.url) }}
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>



        <input type="submit" value="Create" class="btn btn-primary"/>


    {{ form_end(form) }}

{% endblock %}
