{% extends 'AppBundle::backend.html.twig' %}

{% set page_title = "FAQ Details" %}

{% block body %}

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ faq.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ faq.question }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ faq.answer }}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{% if faq.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_faq') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_faq_edit', { 'id': faq.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
